.row{
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 50px;
}
body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(0, 0, 0, 0.6)),url(image/Success.gif);
    height: 10vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 200px;    
}
h1{
    margin: 25% 20% 0 20%; 
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(245,222,179,0.5);
    border-radius: 10px;
    word-wrap: normal;
    height: 100hv;
    font-size: 50px;
}
