.row{
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 50px;
}
header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(0, 0, 0, 0.6)),url(image/ball.gif);
    height: 50vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 100px;    
}
h1{
    text-align: center;
    padding-top: 250px;
    color: white;
    font-family: sans-serif;
    font-size: 40px
}
.submit_button {
     height: 60px;
     width: 120px;
     float: right;
     background: #016ABC;
     color: #000;
     border: 1px solid #eee;
     border-radius: 20px;
     box-shadow: 5px 5px 5px #eee;
     text-shadow:none;
}
.submit_button:hover{
     background: #B9DFFF;
     color: #000;
     border: 1px solid #eee;
     border-radius: 20px;
     box-shadow: 5px 5px 5px #eee;
     text-shadow:none;
}
.lable{
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-style: double;
}
.box{
    border: solid orange 2px;
    border-radius: 2px;
}
.form{
    background-color: rgba(245,222,179,0.2);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border: solid wheat 5px;    
}
.file{
    
}